@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/* line 2, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-mt-25 {
  margin-top: 25px;
}

/* line 6, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-mt-50 {
  margin-top: 50px;
}

/* line 10, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-mt-60 {
  margin-top: 60px;
}

/* line 14, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-mt-75 {
  margin-top: 75px;
}

/* line 18, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-mb-25 {
  margin-bottom: 25px;
}

/* line 22, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-mb-50 {
  margin-bottom: 50px;
}

/* line 26, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-mb-60 {
  margin-bottom: 60px;
}

/* line 30, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-mb-75 {
  margin-bottom: 75px;
}

@media all and (max-width: 768px) {
  /* line 35, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
  .u-mt-50 {
    margin-top: 25px;
  }
  /* line 39, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
  .u-mt-60 {
    margin-top: 30px;
  }
  /* line 43, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
  .u-mt-75 {
    margin-top: 37.5px;
  }
  /* line 47, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
  .u-mb-50 {
    margin-bottom: 25px;
  }
  /* line 51, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
  .u-mb-60 {
    margin-bottom: 30px;
  }
  /* line 55, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
  .u-mb-75 {
    margin-bottom: 37.5px;
  }
}

/* line 60, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-ta-c {
  text-align: center;
}

/* line 65, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-emph--primary {
  color: #85BBB1;
  font-style: italic;
}

/* line 70, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-emph--secondary {
  padding-bottom: 14px;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 68px;
  font-weight: 400;
  line-height: 72px;
  opacity: 1;
}

/* line 82, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-emph--thirdly {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  opacity: 1;
}

/* line 91, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-emph--stats {
  padding-bottom: 40px;
  position: relative;
}

/* line 96, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-emph--stats::before {
  content: '$';
  display: inline-block;
  margin-right: 10px;
  font-size: 40px;
  opacity: .5;
}

/* line 104, ../Project_Solis-site/sass/sass-utils/_helpers.scss */
.u-emph--stats::after {
  content: '';
  display: inline-block;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 36.4%;
  right: 36.4%;
  background-color: #85BBB1;
  opacity: .5;
}

/* line 1, ../Project_Solis-site/sass/base/_reset.scss */
*, ::before, ::after {
  box-sizing: border-box;
}

/* line 5, ../Project_Solis-site/sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 25, ../Project_Solis-site/sass/base/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

/* line 30, ../Project_Solis-site/sass/base/_reset.scss */
button {
  width: max-content;
}

/* HTML5 display-role reset for older browsers */
/* line 34, ../Project_Solis-site/sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 38, ../Project_Solis-site/sass/base/_reset.scss */
body {
  line-height: 1;
}

/* line 41, ../Project_Solis-site/sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 44, ../Project_Solis-site/sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../Project_Solis-site/sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 52, ../Project_Solis-site/sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../Project_Solis-site/sass/base/_typography.scss */
h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  color: #262A3F;
}

/* line 10, ../Project_Solis-site/sass/base/_typography.scss */
h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #262A3F;
}

/* line 19, ../Project_Solis-site/sass/base/_typography.scss */
p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262A3F;
  opacity: .8;
}

/* line 29, ../Project_Solis-site/sass/base/_typography.scss */
button {
  opacity: .8;
}

/* line 33, ../Project_Solis-site/sass/base/_typography.scss */
blockquote {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #fff;
}

/* line 43, ../Project_Solis-site/sass/base/_typography.scss */
figcaption {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #fff;
}

/* line 1, ../Project_Solis-site/sass/layout/_grid.scss */
body {
  padding: 60px 0;
}

/* line 6, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 135px 1fr 135px;
  grid-template-rows: auto;
  grid-template-areas: 'header header header' '. main .' 'footer footer footer';
}

@media all and (max-width: 992px) {
  /* line 6, ../Project_Solis-site/sass/layout/_grid.scss */
  .l-root {
    grid-template-columns: 35px 1fr 35px;
  }
}

/* line 21, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-header {
  grid-area: header;
}

/* line 24, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-header__content {
  padding: 0 135px;
}

@media all and (max-width: 992px) {
  /* line 29, ../Project_Solis-site/sass/layout/_grid.scss */
  .l-root .l-header__content {
    padding: 0 35px;
  }
}

/* line 35, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main {
  grid-area: main;
}

/* line 39, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-footer {
  grid-area: footer;
}

/* line 42, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-footer__content {
  padding: 0 135px;
}

@media all and (max-width: 992px) {
  /* line 47, ../Project_Solis-site/sass/layout/_grid.scss */
  .l-root .l-footer__content {
    padding: 0 35px;
  }
}

/* line 54, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}

/* line 59, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-first {
  grid-area: 1 / 1 / 2 / 4;
  justify-self: start;
}

@media all and (max-width: 992px) {
  /* line 65, ../Project_Solis-site/sass/layout/_grid.scss */
  .l-root .l-main__sect-first {
    grid-area: 1 / 1 / 2 / 7;
  }
}

/* line 70, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-info {
  grid-area: 2 / 1 / 3 / 7;
}

/* line 74, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-benefit-first {
  grid-area: 3 / 1 / 4 / 4;
}

/* line 78, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-benefit-second {
  grid-area: 3 / 4 / 4 / 7;
}

/* line 82, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-benefit-third {
  grid-area: 4 / 1 / 5 / 4;
}

/* line 86, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-benefit-fourth {
  grid-area: 4 / 4 / 5 / 7;
}

@media all and (max-width: 992px) {
  /* line 91, ../Project_Solis-site/sass/layout/_grid.scss */
  .l-root .l-main__sect-benefit-first {
    grid-area: 3 / 1 / 4 / 7;
  }
  /* line 95, ../Project_Solis-site/sass/layout/_grid.scss */
  .l-root .l-main__sect-benefit-second {
    grid-area: 4 / 1 / 5 / 7;
  }
  /* line 99, ../Project_Solis-site/sass/layout/_grid.scss */
  .l-root .l-main__sect-benefit-third, .l-root .l-main__sect-benefit-fourth {
    display: none;
  }
}

/* line 105, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-quote {
  grid-area: 5 / 1 / 6 / 7;
}

/* line 109, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-video {
  grid-area: 6 / 1 / 7 / 7;
  justify-self: center;
}

/* line 114, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-video-header {
  grid-area: 7 / 1 / 8 / 7;
  justify-self: center;
}

/* line 119, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-promises {
  grid-area: 8 / 1 / 9 / 7;
}

/* line 123, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-reviews {
  grid-area: 9 / 1 / 11 / 7;
}

/* line 127, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-contact-header {
  grid-area: 11 / 1 / 12 / 4;
}

/* line 131, ../Project_Solis-site/sass/layout/_grid.scss */
.l-root .l-main__sect-contact-form {
  grid-area: 11 / 4 / 12 / 7;
}

@media all and (max-width: 1200px) {
  /* line 136, ../Project_Solis-site/sass/layout/_grid.scss */
  .l-root .l-main__sect-contact-header {
    grid-area: 11 / 1 / 12 / 7;
  }
  /* line 140, ../Project_Solis-site/sass/layout/_grid.scss */
  .l-root .l-main__sect-contact-form {
    grid-area: 12 / 1 / 13 / 7;
  }
}

/* line 1, ../Project_Solis-site/sass/layout/_header.scss */
.c-header {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4.5px);
}

/* line 11, ../Project_Solis-site/sass/layout/_header.scss */
.c-header a {
  color: #262A3F;
  text-decoration: none;
}

/* line 16, ../Project_Solis-site/sass/layout/_header.scss */
.c-header a:active {
  color: #E64F3A;
}

/* line 20, ../Project_Solis-site/sass/layout/_header.scss */
.c-header a:focus {
  text-decoration-line: underline;
  text-decoration-color: rgba(241, 137, 123, 0.3);
}

/* line 25, ../Project_Solis-site/sass/layout/_header.scss */
.c-header__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 34, ../Project_Solis-site/sass/layout/_header.scss */
.c-header__full-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15.01px;
  color: #fff;
}

/* line 43, ../Project_Solis-site/sass/layout/_header.scss */
.c-header__menu-logo {
  display: none;
}

/* line 47, ../Project_Solis-site/sass/layout/_header.scss */
.c-header__main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}

@media all and (max-width: 768px) {
  /* line 55, ../Project_Solis-site/sass/layout/_header.scss */
  .c-header__main-menu {
    display: none;
  }
}

/* line 1, ../Project_Solis-site/sass/layout/_button.scss */
.o-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

/* line 5, ../Project_Solis-site/sass/layout/_button.scss */
.o-btn--primary {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F1897B;
}

/* line 15, ../Project_Solis-site/sass/layout/_button.scss */
.o-btn--primary:hover {
  color: #E54F3A;
}

/* line 20, ../Project_Solis-site/sass/layout/_button.scss */
.o-btn__text {
  position: relative;
}

/* line 23, ../Project_Solis-site/sass/layout/_button.scss */
.o-btn__text::after {
  content: '';
  position: absolute;
  top: .55em;
  left: .5em;
  right: -.5rem;
  height: .65em;
  background-color: #F1897B;
  opacity: .3;
}

/* line 35, ../Project_Solis-site/sass/layout/_button.scss */
.o-btn__text:hover::after {
  background-color: #E54F3A;
}

/* line 40, ../Project_Solis-site/sass/layout/_button.scss */
.o-btn--big {
  width: 300px;
  height: 90px;
  border: 1px solid #E4E4E4;
}

/* line 46, ../Project_Solis-site/sass/layout/_button.scss */
.o-btn--big:hover {
  border-color: #E54F3A;
}

/* line 1, ../Project_Solis-site/sass/layout/_infoboard.scss */
.c-infoboard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

/* line 11, ../Project_Solis-site/sass/layout/_infoboard.scss */
.c-infoboard__content--row {
  margin: 45px 0;
  width: 65.87%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 21, ../Project_Solis-site/sass/layout/_infoboard.scss */
.c-infoboard__content--col {
  margin: 45px 0;
  width: 65.87%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media all and (max-width: 1200px) {
  /* line 32, ../Project_Solis-site/sass/layout/_infoboard.scss */
  .c-infoboard__content--row {
    justify-content: center;
  }
  /* line 36, ../Project_Solis-site/sass/layout/_infoboard.scss */
  .c-infoboard__content--col {
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media all and (max-width: 768px) {
  /* line 43, ../Project_Solis-site/sass/layout/_infoboard.scss */
  .c-infoboard__content--row, .c-infoboard__content--col {
    margin: 0px;
    width: 100%;
  }
}

/* line 1, ../Project_Solis-site/sass/layout/_reviews.scss */
.c-reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 6, ../Project_Solis-site/sass/layout/_reviews.scss */
.c-reviews__header {
  width: 100%;
  margin-bottom: 10px;
}

/* line 11, ../Project_Solis-site/sass/layout/_reviews.scss */
.c-reviews__description {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* line 17, ../Project_Solis-site/sass/layout/_reviews.scss */
.c-reviews__reviews-list {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
}

/* line 26, ../Project_Solis-site/sass/layout/_reviews.scss */
.c-reviews .reviews-list__item {
  padding: 30px 40px;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media all and (max-width: 1200px) {
  /* line 41, ../Project_Solis-site/sass/layout/_reviews.scss */
  .c-reviews__reviews-list {
    flex-wrap: wrap;
  }
  /* line 45, ../Project_Solis-site/sass/layout/_reviews.scss */
  .c-reviews .reviews-list__item {
    width: 100%;
  }
}

/* line 1, ../Project_Solis-site/sass/layout/_form.scss */
.c-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* line 6, ../Project_Solis-site/sass/layout/_form.scss */
.c-form input {
  margin-bottom: 40px;
  min-height: 32px;
  border: none;
  border-bottom: 1px solid rgba(38, 42, 63, 0.1);
  color: rgba(38, 42, 63, 0.5);
}

/* line 16, ../Project_Solis-site/sass/layout/_form.scss */
.c-form__content {
  margin-top: 60px;
  width: 470px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-self: flex-end;
}

@media all and (max-width: 1200px) {
  /* line 28, ../Project_Solis-site/sass/layout/_form.scss */
  .c-form__content {
    align-self: center;
  }
}

@media all and (max-width: 768px) {
  /* line 34, ../Project_Solis-site/sass/layout/_form.scss */
  .c-form__content {
    width: 100%;
  }
}

/* line 1, ../Project_Solis-site/sass/layout/_footer.scss */
.c-footer {
  min-height: 86px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

/* line 9, ../Project_Solis-site/sass/layout/_footer.scss */
.c-footer p {
  font-size: 14px;
  opacity: .6;
}

/* line 14, ../Project_Solis-site/sass/layout/_footer.scss */
.c-footer a {
  font-size: 14px;
  font-weight: 400;
  color: #262A3F;
  text-decoration: none;
  opacity: 1;
}

/* line 22, ../Project_Solis-site/sass/layout/_footer.scss */
.c-footer a:active {
  color: #E64F3A;
}

/* line 26, ../Project_Solis-site/sass/layout/_footer.scss */
.c-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 33, ../Project_Solis-site/sass/layout/_footer.scss */
.c-footer__policies {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

@media all and (max-width: 768px) {
  /* line 40, ../Project_Solis-site/sass/layout/_footer.scss */
  .c-footer__content {
    flex-direction: column;
  }
}

/* line 1, ../Project_Solis-site/sass/pages/_home.scss */
body {
  background-color: #e5e5e5;
}

/* line 5, ../Project_Solis-site/sass/pages/_home.scss */
.home-page {
  margin: 0 auto;
  padding-top: 30px;
  background-color: #fff;
  background-image: url("../static/bg-images/first-screen-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

/* line 15, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-first {
  max-width: 523px;
}

@media all and (max-width: 768px) {
  /* line 15, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-first {
    max-width: 100%;
    text-align: center;
  }
}

/* line 24, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-info {
  height: 670px;
  background-image: url("../static/bg-images/info-bg.png");
}

/* line 29, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-info__content {
  padding: 45px 0;
  row-gap: 40px;
  background-color: #fff;
  opacity: .9;
}

@media all and (max-width: 768px) {
  /* line 24, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-info {
    height: fit-content;
    background-image: none;
  }
  /* line 42, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-info__content {
    padding: 0;
  }
}

/* line 47, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-info .w-48pct {
  width: 48%;
}

/* line 51, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-info .w-52pct {
  width: 52%;
}

@media all and (max-width: 1200px) {
  /* line 56, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-info .w-48pct {
    width: 100%;
  }
  /* line 60, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-info .w-52pct {
    display: none;
  }
}

@media all and (max-width: 768px) {
  /* line 66, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-info__content {
    row-gap: 20px;
  }
}

/* line 73, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-benefit-first, .home-page .sect-benefit-second, .home-page .sect-benefit-third, .home-page .sect-benefit-fourth {
  max-width: 570px;
  min-height: 250px;
  padding: 50px 35px 0 35px;
  border-top: 1px solid #E4E4E4;
}

@media all and (max-width: 992px) {
  /* line 85, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-benefit-first, .home-page .sect-benefit-second {
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  /* line 92, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-benefit-first, .home-page .sect-benefit-second {
    min-height: fit-content;
    padding: 10px 35px 0 35px;
  }
}

/* line 100, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-quote {
  padding: 100px 300px 160px 160px;
  min-height: 400px;
  background-image: url("../static/bg-images/quote-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 109, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-quote blockquote {
  position: relative;
}

/* line 112, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-quote blockquote::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 81px;
  position: absolute;
  top: -30px;
  left: -62px;
  background-image: url("../static/icons/quote.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media all and (max-width: 1200px) {
  /* line 100, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-quote {
    padding: 50px 150px 80px 80px;
  }
}

@media all and (max-width: 768px) {
  /* line 100, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-quote {
    padding: 20px 75px 40px 40px;
    font-size: 1.2rem;
  }
  /* line 135, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-quote blockquote::before {
    display: none;
  }
}

/* line 141, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-video {
  max-width: 970px;
  width: 100%;
  min-height: 601px;
  padding: 31px 70px 31px 30px;
  position: relative;
  border: 1px solid #E4E4E4;
  border-radius: 32px;
}

/* line 152, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-video::before {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 6.5px);
  left: 8px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
}

/* line 166, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-video::after {
  content: "";
  width: 35px;
  height: 35px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 17.5px);
  right: 14px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
}

/* line 181, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-video .sect-video__content {
  width: 100%;
  height: 100%;
  position: relative;
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  background-image: url("../static/bg-images/screensaver-video.png");
}

/* line 192, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-video .sect-video__content::after {
  content: "";
  width: 120px;
  height: 120px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  background-image: url("../static/icons/icon-play.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* line 210, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-video-header {
  max-width: 970px;
  width: 100%;
}

/* line 214, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-video-header h2 {
  padding-bottom: 20px;
}

/* line 219, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-promises {
  min-height: 540px;
  background-image: url("../static/bg-images/promises-bg.png");
}

/* line 224, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-promises__content {
  padding: 75px 0 75px 70px;
  row-gap: 70px;
  background-color: #fff;
  opacity: .9;
}

@media all and (max-width: 768px) {
  /* line 219, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-promises {
    height: fit-content;
    background-image: none;
  }
  /* line 236, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-promises__content {
    padding: 0;
    text-align: center;
  }
}

/* line 242, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-promises .w-42pct {
  width: 42%;
}

@media all and (max-width: 1200px) {
  /* line 247, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-promises .w-42pct {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  /* line 253, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-promises__content {
    row-gap: 20px;
  }
}

/* line 260, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-reviews figure {
  min-height: 340px;
  position: relative;
}

@media all and (max-width: 1200px) {
  /* line 266, ../Project_Solis-site/sass/pages/_home.scss */
  .home-page .sect-reviews figure {
    min-height: fit-content;
  }
}

/* line 271, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-reviews figure::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(25, 28, 41, 0.6);
}

/* line 284, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-reviews blockquote,
.home-page .sect-reviews figcaption {
  z-index: 1;
}

/* line 289, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-reviews blockquote {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: .8;
}

/* line 301, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-reviews .review-one {
  background-image: URL("../static/bg-images/reviews-bg-1.png");
}

/* line 305, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-reviews .review-two {
  background-image: URL("../static/bg-images/reviews-bg-2.png");
}

/* line 309, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-reviews .review-three {
  background-image: URL("../static/bg-images/reviews-bg-3.png");
}

/* line 315, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-contact-header {
  border-top: 1px solid #E4E4E4;
}

/* line 318, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-contact-header h2 {
  margin-top: 82px;
}

/* line 322, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-contact-header p {
  margin-top: 29px;
}

/* line 327, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .sect-contact-form {
  border-top: 1px solid #E4E4E4;
}

/* line 331, ../Project_Solis-site/sass/pages/_home.scss */
.home-page .footer {
  border-top: 1px solid #E4E4E4;
}

/*# sourceMappingURL=style.css.map */