.c-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    input {
        margin-bottom: 40px;
        min-height: 32px;

        border: none;
        border-bottom: 1px solid $border-color-inp;

        color: $font-color-inp;
    }

    &__content {
        margin-top: 60px;
        width: 470px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        align-self: flex-end;
    }

    @media all and (max-width: $xl) {
        &__content {
            align-self: center;
        }
    }

    @media all and (max-width: $m) {
        &__content {
            width: 100%;
        }
    }
}