.c-infoboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

    &__content--row {
        margin: 45px 0;
        width: 65.87%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__content--col {
        margin: 45px 0;
        width: 65.87%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}