// Margins
.u-mt-25 {
    margin-top: 25px;
}

.u-mt-50 {
    margin-top: 50px;
}

.u-mt-60 {
    margin-top: 60px;
}

.u-mt-75 {
    margin-top: 75px;
}

.u-mb-25 {
    margin-bottom: 25px;
}

.u-mb-50 {
    margin-bottom: 50px;
}

.u-mb-60 {
    margin-bottom: 60px;
}

.u-mb-75 {
    margin-bottom: 75px;
}

@media all and (max-width: $m) {
    .u-mt-50 {
        margin-top: 25px
    }
    
    .u-mt-60 {
        margin-top: 30px;
    }
    
    .u-mt-75 {
        margin-top: 37.5px;
    }

    .u-mb-50 {
        margin-bottom: 25px;
    }
    
    .u-mb-60 {
        margin-bottom: 30px;
    }
    
    .u-mb-75 {
        margin-bottom: 37.5px;
    }
}

.u-ta-c {
    text-align: center;
}

// Complex emphasis
.u-emph--primary {
    color: $font-color-emphasis;
    font-style: italic;
}

.u-emph--secondary {
    padding-bottom: 14px;
    display: inline-block;

    font-family: $font-header;
    font-style: normal;
    font-size: 68px;
    font-weight: 400;
    line-height: 72px;
    opacity: 1;
}

.u-emph--thirdly {
    font-family: $font-header;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    opacity: 1;
}

.u-emph--stats {
    padding-bottom: 40px;
    position: relative;
}

.u-emph--stats::before {
    content: '$';
    display: inline-block;
    margin-right: 10px;
    font-size: 40px;
    opacity: .5;
}

.u-emph--stats::after {
    content: '';
    display: inline-block;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 36.4%;
    right: 36.4%;
    background-color: $font-color-emphasis;
    opacity: .5;
}
