// Root
$root-width: 1440px;
$root-padding: 135px; 

// General colors
$bg-color-body: #e5e5e5;
$bg-color-home-page: #fff;

$font-color-primary: #262A3F;
$font-color-secondary: #fff;
$font-color-emphasis: #85BBB1;
$font-color-link-focus: #E64F3A;

$border-color-primary: #E4E4E4;

$underline-color-link-active: #F1897B;

// Fonts
$font-header: 'Playfair Display', serif;
$font-paragraph: 'Lato', sans-serif;

// Object o-btn
$font-color-o-btn--primary: #F1897B;
$font-color-o-btn--primary-hover: #E54F3A;
$border-color-btn--big: #E4E4E4;
$border-color-btn--big-hover: #E54F3A;